.checkbox{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btnButton{
    display: none;
    position: relative;
    /* border: 2px solid yellow; */
    height: 45px;
    aspect-ratio: 1;
}

.btnButton::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 6px;
    border-radius: 10px;
    top: 30%;
    z-index: -1;
}
.btnButton::after{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 60%;
    height: 6px;
    border-radius: 10px;
    top: 60%;
    right: 0;
    z-index: -1;
}

.checkbox:checked + .btnButton::before{
    animation: buttonOn1 .8s ease forwards;
}
.checkbox:checked + .btnButton::after{
    animation: buttonOn2 .8s ease forwards;
}

.checkbox:not(:checked) + .btnButton::before{
    animation: buttonOff1 .8s ease forwards;
}
.checkbox:not(:checked) + .btnButton::after{
    animation: buttonOff2 .8s ease forwards;
}



/* Keyframes */

@keyframes buttonOn1{
    0%{
        top: 30%;
        transform: rotate(0deg);
    } 
    100%{
        top: 50%;
        transform: rotate(-45deg);
    }
}
@keyframes buttonOn2{
    0%{
        top: 60%;
        transform: rotate(0deg);
        width: 60%;
    } 
    100%{
        top: 50%;
        transform: rotate(45deg);
        width: 100%;
    }
}

@keyframes buttonOff1{
    0%{
        top: 50%;
        transform: rotate(-45deg);
    } 
    100%{
        top: 30%;
        transform: rotate(0deg);
    }
}
@keyframes buttonOff2{
    0%{
        top: 50%;
        transform: rotate(45deg);     
        width: 100%;
    } 
    100%{
        top: 60%;
        transform: rotate(0deg);
        width: 60%;
    }
}