main{
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: clamp(1.5rem, 2.2vw + 1rem, 3rem);
}

.whats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(1.4rem, 2.05vw + 1rem, 2.8rem);
    margin-top: 15px;
}

.whats img{
    width: 50px;
    height: auto;
    border-radius: 15px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}