nav{
    position: sticky;
    top: 0;
    background-image: linear-gradient(
        to bottom,
        #212036,
        #2d2c55,
        #2f2c79,
        rgba(48, 44, 155, 0.5),
        rgba(40, 35, 188, 0));
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 5%;
    width: 100%;
    height: min(12vh, 76px);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-size: 30px;
}
.menu li a{
    font-weight: 600;
    font-size: clamp(2.2rem, 1.4vw + 1rem, 3rem);
    position: relative;
}


.menu li a::before{
    content: "";
    height: 4px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 50%;
    transition: .5s;
}

 .menu li a:hover::before{
    content: "";
    width: 100%;
    left: 0;
} 



/* header / Barra de navegação*/
.side{
    position: absolute;
    top: 0;
    width: 100%;
}