/*Reset do projeto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    color: #fff;
}

/*Background do projeto*/
body{
    background-image: linear-gradient(90deg,#252440,#2823bc);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.fundo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fundo .img1{
    width: 100%;
    height: auto;
    opacity: 25%;
    z-index: -2;
    position: fixed;
}
.fundo .img2{
    position: fixed;
    width: 90%;
    height: auto;
    top: 4%;
    left: 10%;
    mask-image: url(../IMG/bgIcon.png);
    mask-repeat: no-repeat;
    mask-size: contain;
    opacity: 80%;
    z-index: -1;
}

