@media (max-width: 1920px) {
    /*inicio*/

}

@media (max-width: 1200px) {
    /*inicio*/
    .descricao{
        width: 24em;
    }
}

@media (max-width: 1024px) {
    /*inicio*/

    .descricao{
        width: 22.5em;
        font-size: 1.4rem;
    }
    .links-e-techs{
        align-items: start;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 18px;
    }
}

@media (max-width: 768px) {
    /*inicio*/
    

    .intro{
        flex-direction: column-reverse;
    }
    .intro .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    h1{
        margin-bottom: 40px;
    }
    h1,h2,p{
        text-align: center;
    }

    .initMain{
        margin-top: 30vw;
    }
    .comp{
        margin-top: 40vw;
    }

    footer{
        margin-top: 35vw;
    }
    /* mudar anim projetos */
}

@media (max-width: 650px) {
    /*inicio*/
    .skills{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .skills > div{
        width: 80%;
    }
    .skills > div h3{
        text-align: start;
    }
}

@media (max-width: 480px) {
    /*inicio*/
    

    .btnButton{
        display: block !important;
    }   
    .menu{
        background-color: #040833;
        position: absolute;
        top: 0;
        right: 0;
        height: 35vh;
        width: 0vw;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: .3em;
        padding-bottom: 0.6em;
        z-index: -2;
        overflow: hidden;
        animation: .4s ease-in forwards;
    }
    .menu li a{
       padding-right: 0.8em
    }

    h1{
        max-width: 80%;
    }
    .intro .texto{
        max-width: 80%;
    }
    
    .sobre p{
        line-height: 25px;
    }

}

@media (max-width: 380px) {
    /*inicio*/
    

    .sobre p{
        line-height: 23px;
    }

    .comp{
        margin-top: 65vw;
    }
}

/* Keyframes */

@keyframes showMenu{
    0%{
        width: 0vw;
        height: 20vh;
        opacity: .5;
        border-bottom-left-radius: 100%;
        
    }
    100%{
        width: 100vw;
        height: 35vh;
        opacity: 1;
        border-bottom-left-radius: 0%;
        
    }
}

@keyframes hiddenMenu{
    0%{
        width: 100vw;
        opacity: 1;
        border-bottom-left-radius: 0%;
        height: 35vh;
    }
    100%{
        width: 0vw;
        opacity: 0;
        border-bottom-left-radius: 100%;
        height: 20vh;
    }
}